@charset "UTF-8";

.switch-wrapper{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.switch-label{
    font-size: 17px;
    color:#454545;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    padding: 5px 15px;
    transition: transform ease-in .2s;
    font-weight: bold;
}
.content_wrap{
    margin-left: auto;
    margin-right: auto;
}
.upload_btn_wrap{
    position: fixed;
    right: 24px;
    bottom: 30px;
}
.add_img{
    width:56px;
    height: 56px;
}
.list_wrap{
    float: left;
    background-color: #FFFFFF;
	width: 256px;
	height: 290px;
	margin: 20px 15px;;
	padding: 7px 0;
	border-radius: 6px;
    border: 1px solid #e6e6e6;
}
#more_img{
    width: 23px;
    height: 23px;
    float: right;
    margin-right: 5px;
}
.music_wrap{
    padding : 5px 8px;
    border-bottom: 1px solid #e8ebed;
    
}
.title_wrap{
    font-size: 20px;
    font-weight: 700;
    color: #ff0083;
    letter-spacing: 0.2px;
}
.singer_wrap{
    font-size: 14px;
    font-weight: 600;
    color: #454545;
    letter-spacing: -0.5px;
}
.information_wrap{
    padding: 10px 8px 0;
}
.heart_wrap{
	display: inline;
}
.like_btn{
    cursor: pointer;
    border: none;
    background: #fff;
    outline: none;
}
#like_img{
    width: 27px;
}
.option_wrap, .option_menu_btn{
	float: right;
}
#option_img{
    width: 27px;
}
.option_wrap ul{
	display: none;
	clear: both;
	border-radius: 6px;
    border: 1px solid #e6e6e6;
}
.option_wrap:hover ul{
	display: block;
}
.option_wrap:hover ul li{
	padding: 5px;
}
.option_wrap:hover ul li a{
	font-size: 15px;
    font-weight: 400;
    color: #454545;
    letter-spacing: 1.3px;
}
#edit_img, #delete_img{
	width:22px;
	height:22px;
	margin-right: 12px;
}
.cnt_wrap{
    font-size: 14px;
    font-weight: 500;
    color: #454545;
    letter-spacing: -0.5px;
}
.name_wrap{
    font-size: 18px;
    font-weight: 600;
    color: #373737;
    letter-spacing: -0.5px;
}
.description_wrap{
    font-size: 15px;
    font-weight: 400;
    color: #454545;
    letter-spacing: -0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.tagSearch{
	color: #3399ff;
}
.date_wrap{
	font-size: 12px;
    font-weight: 400;
    color: #505050;
    letter-spacing: -0.5px;
    margin-top: 5px;
}
#modal {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#modal .modal_content {
	width: 580px;
	margin: 0 auto;
	padding: 5px 0;
	background: #fff;
	border-radius: 6px;
    border: 1px solid #e6e6e6;
}
#modal_close_btn {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    float:right;
    margin: 0 5px;
}
.close_btn{
    width: 30px;
    height: 30px;
}
.modal_information_wrap{
    padding: 0 12px;
}
#modal_name_wrap{
    font-size: 24px;
    font-weight: 700;
    color: #373737;
    letter-spacing: -0.5px;
}
#modal_music_wrap{
    padding : 5px 12px;
    border-top: 1px solid #e8ebed;
}
#modal_title_wrap{
    font-size: 24px;
    font-weight: 700;
    color: #ff0083;
    letter-spacing: 0.2px;
}
#modal_singer_wrap{
    font-size: 18px;
    font-weight: 600;
    color: #454545;
    letter-spacing: -0.5px;
}
.modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}