@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
body {
	margin : 0;
	background-color: #F5F5F5;
	font-family: 'Noto Sans KR', sans-serif;
}
a {
	text-decoration: none;
}
.inner_wrap{
	background-color: #FFFFFF;
	max-width: 580px;
	margin: 45px auto;
	padding: 32px 40px 48px;
	border-radius: 6px;
	text-align:center;
}
.logo_title{
	color: #ff0083;
	font-size: 46px;
	font-weight: 900;
	margin: 0;
}
.idInpt, .pwInpt, .nameInpt{
	display:block;
	width: 100%;
    height: 56px;
    background-color: #F5F5F5;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.7px;
    line-height: normal;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 15px; 
    padding: 0 12px;
    box-sizing: border-box;
}
.id_wrap .idInpt{
	width:85%;
	float:left;
}
#userId, .check_wrap{
	display: inline-block;
}
.id_wrap{
	height: 56px;
}
.check_wrap{
	height: 56px;
	line-height: 56px;
}

.ck{
	color: #ff0083;
	font-size: 16px;
    font-weight: 500;
}
#btnLogin, #signUpBtn{
	display:block;
	cursor: pointer;
	color: #ffffff;
    text-align: center;
    width: 100%;
    height: 56px;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: #ff0083;
    border-radius: 6px;
    margin: 16px 0px 0px;
    font-size: 20px;
    font-weight: 700;
}
#join_section{
	font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 20px;
    color: #6e6e6e;
    margin: 20px 0px 14px;
}
#join_section a{
    color: #ff0083;
}

#warning{
	font-size: 17px;
    font-weight: 700;
    color: #f03e3e;
}