<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<resultMap id="boradResult" type="com.mylist.vo.BoardVO">
	    <result property="boardId" column="boardId"/>
	    <result property="userId" column="userId"/>
	    <result property="userName" column="userName"/>
	    <result property="discription" column="discription"/>
	    <result property="board_cnt" column="board_cnt"/>
	    <result property="board_date" column="board_date"/>
	    <collection property="music" column="boardId" javaType="java.util.ArrayList" 
	    ofType="com.mylist.vo.MusicVO" select="musicList"/>
	</resultMap>
	
	<select id = "boardList" resultMap = "boradResult">
		SELECT u.userName, b.* FROM board AS b
		JOIN user AS u
		ON b.userId = u.userId
	</select>
	
	<select id = "musicList" resultType = "com.mylist.vo.MusicVO">
		SELECT * FROM music 
		WHERE boardId = #{boardId}
	</select>
	
	<insert id = "boardInsert" useGeneratedKeys="true" keyProperty="boardId">
		INSERT INTO board
			(userId, description, board_date)
		VALUES
			(#{userId}, #{description}, NOW())
	</insert>
	
	<insert id = "tagInsert">
		INSERT INTO board_tag
			(boardId, tag_name)
		VALUES
			(#{boardId}, #{tag_name})
	</insert>
	
	<insert id = "musicInsert">
		INSERT INTO music
			(boardId, music_title, music_singer)
		VALUES
			(#{boardId}, #{music_title}, #{music_singer})
	</insert>
	
	<select id = "checkLike" resultType="int">
		SELECT count(*) FROM user_heart
		WHERE userId = #{userId} and boardId = #{boardId}
	</select>
	
	<insert id = "like">
		INSERT INTO user_heart
			(userId, boardId)
		VALUES
			(#{userId}, #{boardId})
	</insert>
	
	<delete id="dislike">
		DELETE FROM user_heart
		WHERE userId = #{userId} and boardId = #{boardId}
	</delete>
	
	<update id="updateLike">
		UPDATE board
            SET
            board_cnt = (SELECT COUNT(*)
            FROM user_heart
            WHERE boardId = #{boardId})
            WHERE boardId = #{boardId}
	</update>
	
	<select id="selectCnt" parameterType="String" resultType="Integer">
      	SELECT board_cnt FROM board
      	WHERE boardId = #{boardId}
	</select>
	
	<select id = "writeList" resultMap = "boradResult">
		SELECT u.userName, b.* FROM board AS b
		JOIN user AS u
		ON b.userId = u.userId
		Where b.userId = #{userId}
	</select>
	
	<select id = "likeList" resultMap = "boradResult">
		select u.userName, b.* FROM board AS b
		JOIN user AS u
		ON b.userId = u.userId
		Join user_heart AS H
		ON b.boardId = H.boardId
		where H.userId = #{userId}
	</select>
	
	<select id = "listView" resultMap = "boradResult">
		SELECT u.userName, b.* FROM board AS b
		JOIN user AS u
		ON b.userId = u.userId
		WHERE b.boardId = #{boardId}
	</select>
	
	<update id="boardUpdate">
		UPDATE board
        SET
        description = #{description}
        WHERE boardId = #{boardId}
	</update>
	
	<delete id="tagDelete">
		DELETE FROM board_tag
		WHERE boardId = #{boardId}
	</delete>
	
	<delete id="musicDelete">
		DELETE FROM music
		WHERE boardId = #{boardId}
	</delete>
	
	<delete id="boardDelete">
		DELETE FROM board
		WHERE boardId = #{boardId}
	</delete>
	
	<select id = "searchTag" resultMap = "boradResult">
		SELECT u.userName, b.* FROM board AS b
		JOIN user AS u
		ON b.userId = u.userId
		Join board_tag AS t
		ON b.boardId = t.boardId
		where t.tag_name = #{keyword}
	</select>
</mapper>