<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 Mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="user">
	<select id = "userList" resultType = "com.vitaminchar.mylist.vo.UserVO">
		SELECT
			userId,
			userName,
			userPw
		FROM user
	</select>
	
	<insert id = "insertUser">
	INSERT INTO user
		(userId, userName, userPw)
	VALUES
		(#{userId}, #{userName}, #{userPw})
	</insert>
	
	<select id="selectUserId" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM user
      WHERE
          userId = #{userId}
	</select>
	
	<select id="login" parameterType="String" resultType = "com.vitaminchar.mylist.vo.UserVO">
      SELECT * FROM user
      WHERE
          userId = #{userId} and userPw = #{userPw}
	</select>

	
</mapper>